#page
{
    display: flex;
    flex-direction: column;
}

#menu
{
    display:flex;
    flex-direction: row;
    list-style-type: none
}
#top
{
    display: flex;
}

#hebergements
{
    display: flex;
    flex-direction: row;

}

#hebergementsprincipaux
{
    display: flex;
    flex-direction: row;
    width: 65%;
}

#populaires
{
display: flex;
width: 35%;
}





#footer
{display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 100%;  
}

#apropos
{display: flex;
    flex-direction: column;
}

#noshebergements
{
    display: flex;
    flex-direction: column;
}

#assistance
{
    display: flex;
    flex-direction: column;
}