/* BODY & FONT*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1em;
}

h2 {
  font-size: 1.5em;
}

h3,
button {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-family: "Raleway", sans-serif;
    padding-top: 0.2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-family: "Raleway", sans-serif;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

/* NAV*/

.nav {
  width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0em;
}

.logo_container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 6.5em;
}

.menu_navigation_hebergements_container {
  width: fit-content;
}

.menu_navigation_activites_container {
  width: fit-content;
}

.menu_signin_container {
  width: fit-content;
}

.menu_navigation_hebergements {
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
  padding-top: 3.2em;
  border-top-style: solid;
  border-top-width: 0.15em;
  width: fit-content;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.menu_navigation_activites {
  text-decoration: none;
  font-weight: bold;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.menu_navigation_activites:hover {
  color: #0065fc;
  padding-top: 3.2em;
  border-top-style: solid;
  border-top-width: 0.15em;
  width: fit-content;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.menu_signin {
  text-decoration: none;
  font-weight: bolder;
  color: #0065fc;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.menu_signin:hover {
  color: #0065fc;
  padding-top: 3.2em;
  border-top-style: solid;
  border-top-width: 0.15em;
  width: fit-content;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    padding-left: 0em;
    padding-right: 0em;
    width: auto;
    padding-bottom: 1em;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    align-content: space-between;
  }

  .logo_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
    order: 1;
    align-items: center;
  }

  .logo {
    width: 6em;
    padding-left: 1em;
  }

  .menu_signin_container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 2;
    margin-bottom: 1em;
    align-items: center;
  }
  .menu_signin_container:active {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 2;
    margin-bottom: 1em;
    align-items: center;
  }

  .menu_signin {
    padding-right: 1em;
  }

  .menu_signin:active {
    color: #0065fc;
    padding-right: 1em;
  }

  .menu_signin:hover {
    color: #0065fc;
    padding-top: 0em;
    border-top-style: none;
    border-top-width: 0;
    width: fit-content;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  .menu_navigation_hebergements_container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 1em;
    order: 3;
    height: 2em;
    border-bottom-style: solid;
    border-bottom-width: 0.15em;
    border-bottom-color: #0065fc;
  }

  .menu_navigation_hebergements {
    border-top-style: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .menu_navigation_activites_container {
    display: flex;
    color: #f2f2f2;
    justify-content: center;
    width: 50%;
    padding-bottom: 1em;
    order: 4;
    height: 2em;
    border-bottom-style: solid;
    border-bottom-width: 0.15em;
  }

  .menu_navigation_activites {
    border-top-style: none;

    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .menu_navigation_activites:active {
    border-top-style: none;
    padding-top: 0;
    color: #0065fc;
  }
  .menu_navigation_activites:hover {
    border-top-style: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .menu_navigation_activites_container:active {
    display: flex;
    height: 2em;
    justify-content: center;
    width: 50%;
    order: 4;
    padding-right: 0;
    color: #0065fc;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .nav {
    padding-left: 0em;
    padding-right: 0em;
    width: auto;
    padding-bottom: 1em;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    align-content: space-between;
  }

  .logo_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
    order: 1;
    align-items: center;
  }

  .logo {
    width: 6em;
    padding-left: 1em;
  }

  .menu_signin_container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 2;
    margin-bottom: 1em;
    align-items: center;
  }

  .menu_signin {
    padding-right: 1em;
  }

  .menu_signin:active {
    color: #0065fc;
    padding-right: 1em;
  }

  .menu_signin:hover {
    color: #0065fc;
    padding-top: 0em;
    border-top-style: none;
    border-top-width: 0;
    width: fit-content;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  .menu_navigation_hebergements_container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 1em;
    order: 3;
    height: 2em;
    border-bottom-style: solid;
    border-bottom-width: 0.15em;
    border-bottom-color: #0065fc;
  }

  .menu_navigation_hebergements {
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .menu_navigation_activites_container {
    display: flex;
    height: 2em;
    justify-content: center;
    width: 50%;
    padding-bottom: 1em;
    order: 4;
    padding-right: 0;
    border-bottom-style: solid;
    border-bottom-width: 0.15em;
    border-bottom-color: #f2f2f2;
    padding-bottom: 1em;
  }

  .menu_navigation_activites {
    border-top-style: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: black;
  }

  .menu_navigation_activites:active {
    border-top-style: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .menu_navigation_activites:hover {
    border-top-style: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .menu_navigation_activites_container:hover {
    display: flex;
    height: 2em;
    justify-content: center;
    width: 50%;
    order: 4;
    padding-right: 0;
    border-bottom-style: solid;
    border-bottom-width: 0.15em;
    border-bottom-color: #0065fc;
  }
}

/* HEADER*/

.header_titre {
  margin-bottom: -0.5em;
  font-size: 1.3em;
}

.header_texte {
  font-size: 1em;
}

.form {
  display: flex;
  align-items: center;
  height: 3em;
  overflow: hidden;
  margin-bottom: 2em;
  outline: none;
}

form .fas {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  width: 1em;
  height: auto;
  padding: 1em;
  border-radius: 1em 0 0 1em;
  outline: none;
}

.field {
  font-family: Raleway;
  height: 3.3em;
  font-size: 0.9em;
  padding-left: 1em;
  font-weight: bolder;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #f2f2f2;
  border-top-width: 0.15em;
  border-bottom-width: 0.15em;
  border-left-style: none;
}

.field:focus {
  outline-color: #0065fc;
}

::placeholder {
  color: black;
}

.button_form {
  font-family: Raleway;
  height: 3.3em;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #0065fc;
  padding-right: 1em;
  color: #ffffff;
  border-style: none;
  border-radius: 0 1em 1em 0;
  outline: none;
  cursor: pointer;
}

.button_form_icon {
  display: none;
  outline: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
  }

  .header_titre {
    margin-bottom: -0.3em;
    font-size: 1.5em;
  }

  .header_texte {
    font-size: 1.1em;
    padding-bottom: 1.5em;
  }
  .form {
    display: flex;
    align-items: center;
    height: 3em;
    overflow: hidden;
    margin-bottom: 2em;
    outline: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .field {
    width: 70%;
    font-size: 1em;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #f2f2f2;
    border-top-width: 0.2em;
    border-bottom-width: 0.2em;
    border-left-style: none;
    outline: none;
    padding-right: 1em;
  }

  .form .fas {
    width: 1em;
    font-size: 1em;
  }

  .button_form {
    display: none;
  }

  .button_form_icon {
    display: flex;
    padding: 0;
    background-color: #ffffff;
    border-style: none;
    outline: none;
  }
  .button_form_icon .fas {
    color: #ffffff;
    background-color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.58em;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
    padding: 1em;
    border-radius: 1em 1em 1em 1em;
    font-size: 0.8em;
    width: 1em;
  }
}

/* FILTRES*/

.filter_feature {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
  height: auto;
}

.filter_feature_title {
  padding-right: 0.7em;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10em 10em 10em 10em;
  background-color: #ffffff;
  border-style: solid;
  border-color: #f2f2f2;
  font-size: 1em;
  font-weight: bolder;
  overflow: hidden;
  cursor: pointer;
  margin-left: 0.8em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding-right: 1em;
  padding-left: 0.5em;
  outline: none;
}

.button:hover {
  background-color: #0065fc;
  color: #ffffff;
  outline: none;
}

.button .fas {
  color: #0065fc;
  background-color: #deebff;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-left: -0.58em;
  margin-top: -0.1em;
  margin-bottom: -0.1em;
}

.recherche_texte {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.recherche_texte .fas {
  color: #0065fc;
  font-size: 0.7em;
  height: 1.5rem;
  width: 1.5rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .filter_feature {
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
  }

  .filter_feature_title {
    width: 100%;
  }

  .button {
    margin-left: 0em;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
  }

  .recherche_texte {
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    font-size: 0.9em;
  }

  .recherche_texte .fas {
    color: #0065fc;
    height: 2em;
    width: 2em;

    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0.1em;
  }
}

/* HEBERGEMENTS*/

.hebergements_all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.hebergements {
  width: 62%;
  background-color: #f2f2f2;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
}

.hebergements_header {
  width: 100%;
  height: 3.2em;
  padding-top: 1em;
  font-size: 0.9em;
}

.hebergements_card {
  width: 30%;
  height: 11.5em;
  background-color: #ffffff;
  border-radius: 1em;
  align-items: flex-start;
  padding: 0.3em;
  box-shadow: 0 0 20px #0000002e;
  margin-top: 1em;
}

.hebergements_link {
  width: 100%;
}

.hebergements_image_container {
  height: 6.5em;
}

.hebergements_descriptions {
  height: 5em;
  padding-left: 0.5em;
  font-size: 0.85em;
}

.hebergements_descriptions_texte {
  margin-bottom: -0.6em;
}

.hebergements_descriptions_texte_prix {
  margin-bottom: 0.4em;
}

.hebergements_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.hebergements .yes {
  color: #0065fc;
  font-size: 0.8em;
}

.hebergements .no {
  color: #f2f2f2;
  font-size: 0.8em;
}

.hebergements_footer {
  margin-top: 2em;
  width: 100%;
  height: 4.5em;
  font-size: 1.2em;
}

.hebergements_footer_texte:hover {
  color: #0065fc;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hebergements_all {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
  }

  .hebergements_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hebergements_card {
    padding: 0.3em;
    box-shadow: 0 0 20px #0000002e;
    display: flex;
    cursor: pointer;
    width: 90%;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }

  .hebergements_link {
    width: 100%;
  }

  .hebergements_image_container {
    height: 7em;
  }

  .hebergements_descriptions {
    height: 5em;
    padding-left: 0.5em;
    font-size: 0.9em;
    margin-top: -0.7em;
  }
  .hebergements_footer {
    margin-top: 1em;
    font-size: 1.3em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .hebergements {
    width: 62%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .hebergements_header {
    font-size: 0.8em;
    height: 2em;
    margin-top: 0;
    margin-bottom: 1em;
  }
  .hebergements_link {
    width: 100%;
  }

  .hebergements_descriptions {
    font-size: 0.8em;
  }
  .hebergements_footer {
    margin-top: 1em;
    font-size: 0.9em;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hebergements_all {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .hebergements {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .hebergements_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hebergements_card {
    padding: 0.3em;
    box-shadow: 0 0 20px #0000002e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: flex;
    cursor: pointer;
    width: 45%;
    height: auto;
  }

  .hebergements_link {
    width: 100%;
  }

  .hebergements_image_container {
    height: 8em;
  }

  .hebergements_descriptions {
    height: 5em;
    padding-left: 0.5em;
    font-size: 1em;
    margin-top: -0.7em;
  }
  .hebergements_footer {
    margin-top: 1em;
    font-size: 1.3em;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .hebergements_all {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .hebergements {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .hebergements_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .hebergements_link {
    width: 100%;
  }

  .hebergements_card {
    padding: 0.3em;
    box-shadow: 0 0 20px #0000002e;
    margin: auto;
    display: flex;
    cursor: pointer;
    width: 45%;
    height: auto;
    margin-top: 1em;
  }

  .hebergements_image_container {
    height: 8em;
  }

  .hebergements_descriptions {
    height: 5em;
    padding-left: 0.5em;
    font-size: 0.85em;
    margin-top: -0.7em;
  }
  .hebergements_footer {
    margin-top: 1em;
    font-size: 1.3em;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* HEBERGEMENTS POPULAIRES*/

.hebergements_populaires {
  width: 25%;
  background-color: #f2f2f2;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
}

.hebergements_populaires_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.2em;
  padding-top: 1em;
  font-size: 0.9em;
}

.hebergements_populaires_header .fas {
  padding-top: 1em;
  font-size: 1.5em;
}

.hebergements_populaires_card {
  width: 98%;
  height: 8em;
  background-color: #ffffff;
  border-radius: 1em;
  padding: 0.3em;
  box-shadow: 0 0 20px #0000002e;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.hebergements_populaires_image_container {
  width: 8em;
  height: 8em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.hebergements_populaires_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.hebergements_populaires_descriptions {
  padding-left: 1.5em;
  width: 10em;
  height: 8em;
  padding-right: 1.5em;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hebergements_populaires_descriptions_texte {
  margin-bottom: -0.5em;
}

.hebergements_populaires_descriptions_texte_prix {
  margin-bottom: 2.5em;
}

.hebergements_populaires_descriptions_texte_prix_star {
  align-self: baseline;
}

.hebergements_populaires .yes {
  color: #0065fc;
  font-size: 0.8em;
}

.hebergements_populaires .no {
  color: #f2f2f2;
  font-size: 0.8em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hebergements_populaires {
    padding-bottom: 2em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    border-radius: 0em;
  }

  .hebergements_populaires_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hebergements_populaires_card {
    width: 90%;
    height: 8em;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 0.3em;
    box-shadow: 0 0 20px #0000002e;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    cursor: pointer;
  }

  .hebergements_populaires_descriptions {
    font-size: 0.85em;
    width: 10em;
    height: auto;
    padding-right: 0.1em;
    display: flex;
    flex-direction: column;
  }

  .hebergements_populaires_image_container {
    padding-left: 0.3em;
  }

  .hebergements_populaires_descriptions_texte {
    margin-bottom: -0.5em;
  }

  .hebergements_populaires_descriptions_texte_prix {
    margin-bottom: 1em;
  }

  .hebergements_populaires_descriptions_texte_prix_star {
    align-self: baseline;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .hebergements_populaires {
    width: 28%;
    background-color: #f2f2f2;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.2em;
  }

  .hebergements_populaires_header {
    font-size: 0.8em;
    height: 2em;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .hebergements_populaires_card {
    height: 7em;
    width: 90%;
  }

  .hebergements_populaires_image_container {
    height: 7em;
    width: 43%;
  }
  .hebergements_populaires_descriptions {
    padding-left: 1em;
    width: 10em;
    padding-right: 0.05em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hebergements_populaires_descriptions_texte {
    margin-bottom: -0.5em;
  }

  .hebergements_populaires_descriptions_texte_prix {
    margin-bottom: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hebergements_populaires {
    padding-bottom: 2em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
  }

  .hebergements_populaires_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hebergements_populaires_card {
    width: 90%;
    height: 8em;
    background-color: #ffffff;
    border-radius: 1em;
    box-shadow: 0 0 20px #0000002e;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    cursor: pointer;
  }

  .hebergements_populaires_descriptions {
    font-size: 1em;
    width: 20em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
  }

  .hebergements_populaires_image_container {
    padding-left: 0.3em;
    width: 15em;
  }

  .hebergements_populaires_descriptions_texte_prix {
    margin-bottom: 2em;
  }

  .hebergements_populaires_descriptions_texte_prix_star {
    align-self: baseline;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .hebergements_populaires {
    padding-bottom: 2em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0em;
  }

  .hebergements_populaires_header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .hebergements_populaires_card {
    width: 90%;
    height: 8em;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 0.3em;
    box-shadow: 0 0 20px #0000002e;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    cursor: pointer;
  }

  .hebergements_populaires_descriptions {
    font-size: 0.88em;
    width: 20em;
    padding-right: 0.3em;
    display: flex;
    flex-direction: column;
  }

  .hebergements_populaires_image_container {
    padding-left: 0.3em;
    width: 35%;
  }

  .hebergements_populaires_descriptions_texte_prix {
    margin-bottom: 2em;
  }

  .hebergements_populaires_descriptions_texte_prix_star {
    align-self: baseline;
  }
}

/* ACTIVITES*/

.activites {
  width: 100%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  height: 32em;
}

.activites_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2em;
  height: 90%;
}

.activites_header {
  width: 100%;
  font-size: 0.9em;
}

.activite_figure_style1 {
  height: 100%;
  width: 23%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
}

.activite_figure_style1 img {
  height: 90%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.activite_figure_style2 {
  height: 50%;
  width: 23%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
}

.activite_figure_style2 img {
  height: 80%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.activite_figure_style3 {
  height: 35%;
  width: 23%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
}

.activite_figure_style3 img {
  height: 71%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.activite_figure_description {
  height: auto;
  padding-left: 1em;
  font-size: 0.9em;
}

.figure_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .activites {
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  .activites_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .activites_list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 0;
  }

  .activite_figure_style1 {
    height: 12em;
    width: 100%;
    margin-bottom: 1em;
  }

  .activite_figure_style2 {
    height: 12em;
    width: 100%;
    margin-bottom: 1em;
  }

  .activite_figure_style3 {
    height: 12em;
    width: 100%;
    margin-bottom: 1em;
  }

  .activite_figure_style1 img {
    height: 8em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style2 img {
    height: 8em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style3 img {
    height: 8em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_description {
    height: 4em;
    padding-left: 1em;
    font-size: 1em;
  }
  .figure_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .activites_header {
    width: 100%;
    font-size: 0.8em;
  }
  .activites_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  .figure_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .activites_header {
    width: 90%;
    margin: auto;
  }

  .activites {
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    height: 35em;
  }

  .activites_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    padding-bottom: 2em;
  }

  .activite_figure_style1 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style2 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style3 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style1 img {
    height: 80%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style2 img {
    height: 80%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style3 img {
    height: 80%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_description {
    height: 30%;
    padding-left: 0.6em;
    font-size: 0.9em;
  }
  .figure_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}

@media (min-width: 481px) and (max-width: 603px) {
  .activites_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .activites {
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

    height: 24em;
  }

  .activites_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    padding-bottom: 2em;
  }

  .activite_figure_style1 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style2 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style3 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style1 img {
    height: 67%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style2 img {
    height: 67%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style3 img {
    height: 67%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_description {
    height: 33%;
    padding-left: 0.6em;
    font-size: 0.8em;
  }
}

@media (min-width: 604px) and (max-width: 767px) {
  .activites_header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .activites {
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    height: 30em;
  }

  .activites_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    padding-bottom: 2em;
  }

  .activite_figure_style1 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style2 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style3 {
    height: 45%;
    width: 30%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .activite_figure_style1 img {
    height: 70%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style2 img {
    height: 70%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_style3 img {
    height: 70%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .activite_figure_description {
    height: 30%;
    padding-left: 0.6em;
    font-size: 0.85em;
  }
}

/* FOOTER*/

.footer li {
  font-size: 1em;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
}

.footer div {
  width: 30%;
  padding-right: 3%;
}
.footer ul {
  list-style-type: none;
  line-height: 2em;
}

.footer_section_title {
  font-size: 1em;
}

.footer_link {
  font-size: 1em;
}

.footer_link:hover {
  color: #0065fc;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .footer li {
    font-size: 1em;
  }

  .footer {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer div {
    width: 100%;
    padding-right: 0%;
  }
  .footer ul {
    list-style-type: none;
    line-height: 2em;
  }

  .footer_section_title {
    font-size: 1em;
  }

  .footer_link {
    font-size: 1em;
  }

  .footer_link:hover {
    color: #0065fc;
    cursor: pointer;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .footer li {
    font-size: 1em;
  }

  .footer {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
  }

  .footer div {
    width: 30%;
    padding-right: 3%;
  }
  .footer ul {
    list-style-type: none;
    line-height: 2em;
  }

  .footer_section_title {
    font-size: 1em;
  }

  .footer_link {
    font-size: 1em;
  }

  .footer_link:hover {
    color: #0065fc;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer li {
    font-size: 1em;
  }

  .footer {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
  }

  .footer div {
    width: 30%;
    padding-right: 3%;
  }
  .footer ul {
    list-style-type: none;
    line-height: 2em;
  }

  .footer_section_title {
    font-size: 0.8em;
  }

  .footer_link {
    font-size: 0.8em;
  }

  .footer_link:hover {
    color: #0065fc;
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }
  .footer div {
    width: 100%;
    padding-right: 0em;
  }
  .footer li {
    font-size: 0.8em;
  }
  .footer ul {
    list-style-type: none;
    line-height: 1.5em;
  }
}
